/* Застосувати стилі до псевдоелемента .box :: before у разі ховера по елементу .box */
.box:hover::before {
  color: green;
}

/* Застосувати стилі до псевдоелемента .box :: after у разі ховера по елементу .box */
.box:hover::after {
  display: block;
  width: 100px;
  height: 100px;
  content: '';
  background-color: tomato;
}
